@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: white;
  font-family: "BenchNine", sans-serif;;
  overflow-x: hidden;
}

p{
  color: rgb(17, 15, 15);
}

header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.logo p{
  color: rgb(17, 15, 15);
  font-size: 30px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.nav-menu a{
  text-decoration: none;
  color: rgb(17, 15, 15);
  font-size: 20px;
  position: relative;
}

.nav-menu a::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: black;
  transition: width 0.3s;
}

.nav-menu a:hover::after,
.nav-menu a.active::after{
  width: 100%;
}

.socials{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.socials i{
  color: rgb(17, 15, 15);
  font-size: 20px;
}

.ham-menu{
  display: none;
}

.banner{
  width: 100%;
  height: auto;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img{
  width: 100%;
  height: 300px;
}

.content{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 100px;
  background: rgba(250, 223, 239, 0.938);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 40px;
}

.left-content{
  width: 50%;
}

.right-content{
  text-align: center;
  display: block;
  padding-top: 80px;
  
}

.right-content h2{
  font-size: 50px;
  color: rgb(75, 61, 70);
  padding-bottom: 50px;
}

.right-content p,
.left-content p{
  font-size: 20px;
  line-height: 35px;
  padding-bottom: 50px;
}

.right-content img{
  width: 450px;
}


.left-content img{
  padding-top: 80px;
  padding-bottom: 100px;
  width: 450px;
}

.tailoring-btn{
  background-color: black;
  color: white;
  font-family: "BenchNine", sans-serif;;
  padding: 20px;
  font-size: 20px;
  width: 170px;
  border: none;
  cursor: pointer;
  transition: .6s ease;

}

.tailoring-btn2{
  background-color: black;
  color: white;
  font-family: "BenchNine", sans-serif;;
  padding: 20px;
  font-size: 20px;
  width: 180px;
  border: none;
  cursor: pointer;
  transition: .6s ease;
}

.tailoring-btn:hover,
.tailoring-btn2:hover,
.sign-up button:hover{
  background-color: rgb(95, 92, 92);
  color: rgb(255, 255, 255);
}

.slide-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:580px;
  background: rgba(250, 223, 239, 0.938);
}

.slider{
  padding-bottom: 100px;
  width:900px;
  position:relative;
  margin:auto;
}

.viewport{
  overflow:hidden;
}

.grid{
  display:flex;
  transition:transform 0.6s ease;
}

.grid img{
  width:300px;
  height:330px;
  object-fit:cover;
  flex-shrink:0;
}

.slider button{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:rgb(75, 61, 70);
  color:white;
  border:none;
  padding:10px 15px;
  cursor:pointer;
}

.prev{ left:-50px; }
.next{ right:-50px; }

.follow-btn{
  display: flex;
  justify-content: center;
  margin-top: -95px;
}

.footer-container{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  height: 90vh;
}

.contact-us,
.quick-link,
.get-in-touch{
  padding-top: 100px;
}

.contact-us h2,
.get-in-touch h2{
  font-size: 40px;
  padding-bottom: 20px;
}

.contact-us a,
.quick-link a{
  font-size: 20px;
  line-height: 35px;
  color: black;
}

.contact-us p,
.get-in-touch p{
  font-size: 20px;
  line-height: 35px;
  
}

.social i{
  color: rgb(17, 15, 15);
  font-size: 20px;
}

.quick-link{
  display: flex;
  flex-direction: column;
}

.sign-up{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sign-up input{
  padding: 20px;
  font-family: "BenchNine", sans-serif;;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px
}

.sign-up button{
  width: fit-content;
  padding: 10px 18px;
  margin-bottom: 20px;
  font-size: 20px;
  border: none;
  background-color: black;
  color: white;
  font-family: "BenchNine", sans-serif;;
  border-radius: 5px;
  cursor: pointer;
  transition: .6s ease;
}

.sign-up button:hover{
  background-color: rgb(95, 92, 92);
  color: rgb(255, 255, 255);
}

@media screen and (max-width:1010px) {
.left-content img{
  padding-top: 80px;
  padding-bottom: 100px;
  width: 380px;
}
.right-content img{
  width: 380px;
}
}

@media screen and (max-width:750px) {
.ham-menu{
  display: flex;
  cursor: pointer;
}
.nav-menu{
  position: absolute;
  top: 120px;
  left: -100%;
  gap: 40px;
  flex-direction: column;
  background: rgb(250, 223, 239);
  width: 100%;
  height: 100vh;
  padding: 35px;
  text-align: center;
  transition: 0.6s ease;
  z-index: 200;
}

.nav-menu.active{
  left: 0;
  }
.banner img{
  width: 100%;
  height: 500px;
}
.content{
  flex-direction: column-reverse;
}
.left-content{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.tailoring-btn,
.tailoring-btn2{
  font-size: 18px;
  width: 300px;
}
.slider{
  width: 700px;
}
.slider button{
  display: none;
}
.footer-container{
  flex-direction: column-reverse;
  align-items: center;
  height: 80vh;
}
}

@media screen and (max-width:600px) {
.socials{
  display: none;
}
.slider{
  width: 500px;
} 
.footer-container{
  flex-direction: column-reverse;
  align-items: center;
  height: 100vh;
} 
}

